<!DOCTYPE html>

<!-- Fig. 23.12: form.html -->
<!-- XHTML form for gathering user input. -->
<html>
<head>
<title>Create account</title>
</head>
<body>
	<div align="center">
		<h1>Create account</h1>
		<p>or <a href="login">Sign in</a></p>
		<form method = "post" action = "">
			<table>
				<tr><td><input type="text" name="name" placeholder="Name" /></td></tr>
				<tr><td><input type="text" name="password" placeholder="Password" /></td></tr>
				<tr><td><input type="text" name="email" placeholder="Email address" /></td></tr>
				<tr><td align="center"><input type = "submit" value = "Create account" /></td></tr>
			</table>
		</form>
	</div>
</body>
</html>