<!DOCTYPE html>

<!-- Fig. 23.12: form.html -->
<!-- XHTML form for gathering user input. -->
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div align="center">
		<h1>Sign in</h1>
		<form method = "post" action = "">
			<div>
				<!-- create text boxes for user input -->
				<table border="0">
					<!-- can set cookie here for login, input tags can add value -->
					<tr><td><input type="text" name="account" placeholder="Account" /></td></tr>
					<tr><td><input type="password" name="password" placeholder="Password" /></td></tr>
					<tr><td align="center"><input type = "submit" value = "Sign in" /></td></tr>
				</table>
				<!-- create a submit button -->
			</div>
		</form>
		<p>or <a href="create">Create account</a></p>
	</div>
</body>
</html>
